# Web Frameworks
flask
streamlit

# Authentication & Security
flask-jwt-extended
flask-bcrypt

# Machine Learning
catboost
scikit-learn
numpy
pandas
google-generativeai

# Server & Deployment
gunicorn

# Database (Only if using PostgreSQL)
flask-sqlalchemy
psycopg2-binary

